body{
    background-image: linear-gradient(to right bottom, #e7e7f9, #eee6f5, #f3e5f0, #f6e5ec, #f6e6e8);
}

#section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input-group{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sec-one{
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    padding: 20px;
}

.sec-two{
    display: flex;
    flex-direction: row;
    padding: 20px;

}

#emoji{
    font-size: 60px;
}

.sec-one-one{
    padding: 0 200px 0 0;
}

.sec-two-two{
    padding: 20px 10px 0 80px;
}


